<?xml version='1.0' encoding='utf-8'?>
<widget id="com.servertechnology.waterscience" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WaterScience</name>
    <description>
        WaterScience application that uploads to Isense.
    </description>
    <author email="zimmer@server-technology.com" href="http://cordova.io">
        Server Technology
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
	<feature name="Camera">
        <param name="id" value="org.apache.cordova.camera" />
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
        <param name="id" value="org.apache.cordova.file-transfer" />
    </feature>
    <feature name="Toast">
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>
</widget>
